// color
$color-grey: #2c3e50;
$color-black1: #000000;
$color-black2: #12002b;
$color-green1: #42b983;
$color-green2: #00bc77;
$color-white: #ffffff;

// typo
$font-family: Avenir, Helvetica, Arial, sans-serif;
