// color
$color-grey: #2c3e50;
$color-grey2: #dde2ea;
$color-grey3: #bfc8d3;
$color-black1: #000000;
$color-black2: #12002b;
$color-black3: #28313c;
$color-green1: #42b983;
$color-green2: #00bc77;
$color-white: #ffffff;
$color-purple1: #5256ec;
$color-purple2: #a9acea;

// typo
$font-family: Avenir, Helvetica, Arial, sans-serif;
